<ol class="tasks-list">
  <li *ngFor="let task of tasks">
    {{task.name}}
  </li>
</ol>
<div class="create-task-wrapper">
  <input type="text" name="name" #name [(ngModel)]="currentTask.name" >
  <button (click)="saveTodo(currentTask.name)" >Save Todo</button>
</div>
