
<form (ngSubmit)="onSubmit()" #markerForm="ngForm">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search [formControl]="searchControl">
  </div>
  <label for="labelName">Sticker Name:</label>
  <input id="labelName" name="label" type="text" [(ngModel)]="currentMarker.label">

  <label for="infoWindow">Info Window Name:</label>
  <input id="infoWindow" name="infoWindow" type="text" [(ngModel)]="currentMarker.infoWindow">

  <button>Save</button>
</form>