<!-- <div class="notifcations-list">
  <div class="single-notification" [ngClass]="" *ngFor="let notification of currentNotifications">
    <h2>{{notification.title}}</h2>
    <p class="notification-text"></p>
  </div>
</div> -->
<!-- <div class="single-notification info">
  <h2>Test</h2>
  <p class="notification-text">Dies ist ein Test Text</p>
</div> -->
