<div class="modal" id="{{modalOptions?.id}}">
  <h2 class="modal-header">{{modalOptions?.header}}</h2>
  <div class="modal-body">
    {{modalOptions?.body}}
    <ng-content></ng-content>
  </div>
</div>
