.modal {
  min-width: 46%;
  max-width: 75%;
  min-height: 38%;
  padding: 15px;
  position: relative;
  top: 126px;
  margin: 0 auto;
  background: white;
  .input-container {
    min-height: 57px;
    margin-top: 10px;
    input,
    button {
      font-size: 200%;
    }
    button {
      float: right;
      height: 55px;
      margin-top: 10px;
      border-radius: 5px;
      background-color: black;
      color: white;
      border: none;
      padding: 10px;
      &.login {
        background-color: green;
        margin-left: 5px;
      }
    }
    .buttons {
      width: 100%;
      height: 75px;
      margin-top: 10px;
    }
  }
  .form-input {
    margin-bottom: 2px;
  }
}

