<form>
  <div class="input-container">
    <label for="username"></label>
    <input type="text" [(ngModel)]="username" name="username" class="form-input" placeholder="Username / E-Mail">
  </div>
  <div class="input-container">
    <label for="password"></label>
    <input type="password" [(ngModel)]="password" name="password" class="form-input" id="password" placeholder="Password">
    <div class="buttons">
      <button class="login" (click)="loginUser(username, password)">Login</button>
      <button (click)="closeModal()">Abbrechen</button>
    </div>
    <div style="clear:both;"></div>
  </div>
</form>
