<app-nav-bar></app-nav-bar>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<div class="modal-wrapper" *ngIf="currentModalOptions !== undefined &&
currentModalOptions?.id !== '' && currentModalOptions?.visible">
  <app-modal *ngIf="currentModalOptions?.id === 'login' && currentModalOptions?.visible" [modalOptions]="currentModalOptions">
    <app-login></app-login>
  </app-modal>
</div>
<app-notification></app-notification>
