.content-wrapper{
    padding: 30px 50px;
}

.modal-wrapper{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: rgba(128, 128, 128, .6);
  .modal{
    opacity: 1;
    position: absolute;
    left:30%;
    top:50%;
    width:20%;
    height:20%;
  }

}
