ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    li.nav-item {
        float: left;
    }
    li.login-button {
      float: right
    }
    li.nav-item a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; // padding: 1em 0.5em;
        @media only screen and (max-width: 640px), only screen and (max-width: 667px), only screen and (max-width: 480px) {
            font-size: 0.9em;
            padding: 0.7em;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        list-style-type: none;
        background-color: #111;
        color: white;
        min-width: 82px;
        border-radius: 6px;
        padding: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .dropdown:hover .dropdown-content, {
        display: block;
    }

    li:hover,
    .active {
        border-radius: 6px;
        background-color: #3e8e41;
    }
}
