<nav>
    <ul class="nav">
        <li class="nav-item">
            <a><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item dropdown" [ngClass]="{'active': currentGroup === 'overview'}">
            <a a href="javascript:void(0)" class="dropbtn">Overview</a>
            <ul class="dropdown-content" [ngStyle]="{'display': activeMenu === 'overview' ? 'block' : none }">
                <li>
                    <a routerLink="home" routerLinkActive="active">Cockpit</a>
                </li>
                <li>
                    <a routerLink="todos" routerLinkActive="active">Todos</a>
                </li>
                <li>
                    <a routerLink="projects" routerLinkActive="active">Projects</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown" [ngClass]="{'active': currentGroup === 'tools'}">
            <a href="javascript:void(0)" class="dropbtn">Tools</a>
            <ul class="dropdown-content">
                <li><a routerLink="sounds">Sound Explorer</a></li>
                <li><a routerLink="world-map">World Map</a></li>
            </ul>
        </li>
        <li class="nav-item login-button" (click)="showLoginModal();">
          <a>Login</a>
      </li>
    </ul>
</nav>
