.tab-holder{
    display:inline-flex;
    justify-content: space-between;
    height:50px;
    width:100%;
    .tab-button{
        display:flex;
        font-size:1.4em;
        position: relative;
        cursor: pointer;
        flex-direction: column;
        line-height:50px;
        height:100%;
        text-align: center;
        width:100%;
        margin-right:10px;
        background-color:aquamarine;
        margin-bottom: 0px;
        margin-top: 0px;
        &.active {
            background-color:blue;
            color:white;
        }
        .sound-icon{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 12%;
            left: 7%;
        }
        .tab-panel {
            margin:0;   
            pointer-events: none;
        }
    }
    .tab-button:last-child{
        margin-right:0px;
    }
}