<h2>Sound Explorer</h2>
<div class="tab-holder">
  <div class="tab-button" [ngClass]="{'active' : currentTab === 'spotify'}" (click)="setCurrentTab('spotify')">
    <i class="sound-icon" [inlineSVG]="'assets/images/icons/spotify.svg'"></i>
    <p class="tab-panel">Spotify</p>
  </div>
  <div class="tab-button" [ngClass]="{'active' : currentTab === 'soundcloud'}" (click)="setCurrentTab('soundcloud')">
    <i class="sound-icon" [inlineSVG]="'assets/images/icons/soundcloud.svg'"></i>
    <p class="tab-panel">Soundcloud</p>
  </div>
  <div class="tab-button" [ngClass]="{'active' : currentTab === 'mixcloud'}" (click)="setCurrentTab('mixcloud')">
    <i class="sound-icon" [inlineSVG]="'assets/images/icons/mixcloud.svg'"></i>
    <p class="tab-panel">Mixcloud</p>
  </div>
  <div class="tab-button" [ngClass]="{'active' : currentTab === 'youtube'}" (click)="setCurrentTab('youtube')">
    <i class="sound-icon" [inlineSVG]="'assets/images/icons/youtube.svg'"></i>
    <p class="tab-panel">YouTube</p>
  </div>
</div>
<div class="tab-content-wrapper">
  <app-spotify class="tab-page" *ngIf="currentTab === 'spotify'">
  </app-spotify>
  <app-soundcloud class="tab-page" *ngIf="currentTab === 'soundcloud'">
  </app-soundcloud>
  <app-mixcloud class="tab-page" *ngIf="currentTab === 'mixcloud'">
  </app-mixcloud>
  <app-youtube class="tab-page" *ngIf="currentTab === 'youtube'">
  </app-youtube>
</div>