<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
    [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <strong>{{m.infoWindow}}</strong>
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
  </agm-circle>

</agm-map>
<div class="form-group">
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
    #search [formControl]="searchControl">
</div>
<form (ngSubmit)="onSubmit()" #markerForm="ngForm">
  {{diagnostic}}
  <label for="labelName">Sticker Name:</label>
  <input id="labelName" name="label" type="text" [(ngModel)]="currentMarker.label">

  <label for="infoWindow">Info Window Name:</label>
  <input id="infoWindow" name="infoWindow" type="text" [(ngModel)]="currentMarker.infoWindow">

  <button>Save</button>
</form>

<div *ngFor="let marker of markers">
  <h2>Name: {{marker.label}}</h2>
  <h3>Beschreibung: {{marker.infoWindow}}</h3>
  <p name="latitude" id="latitude">Latitude: {{marker.lat}}</p>
  <p name="longitude" id="longitude">Longitude: {{marker.lng}}</p>
</div>