body {
  font-family: 'OpenSans';
  margin: 0;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

input{
  width: 97%;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
